<html>
    <body>
        <a href="/display">Display</a>
        <h1> Add record</h1>
        <form method="POST" action="/add-process">
            Name : <input type="text" name="txt1" required/><br/>
            Deatails : <input type="text" name="txt2" required/><br/>
            Price : <input type="number" name="txt3" required/><br/>
             <input type="submit"/><br/>
        </form>
    </body>
</html>