<html>
    <body>
        <a href="/display">Display</a>
        <h1> Edit record</h1>
        <form method="POST" action="">
            Name : <input type="text" name="txt1" required value="<%= db_rows_array[0].product_name %>"/><br/>
            Deatails : <input type="text" name="txt2" required value="<%= db_rows_array[0].product_details %>"/><br/>
            Price : <input type="number" name="txt3" required value="<%= db_rows_array[0].product_price %>"/><br/>
             <input type="submit"/><br/>
        </form>
    </body>
</html>