<html>
    <body>
        <h1>My Form</h1>
        <form method="POST" action="/form-process">
            <table>
                <tr>
                    <td>Enter num 1</td>
                    <td><input type="number" name="txt1" required/></td>
                </tr>
                <tr>
                    <td>Enter num 2</td>
                    <td><input type="number" name="txt2" required/></td>
                </tr>
                <tr>
                    <td><input type="submit"/></td>
                </tr>
            </table>
        </form>
    </body>
</html>