<div id="about" class="about">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>About Pcoint</h2>
                <span>Open to all. Customer is our god and we never dissatisfy our god. Customers are our first priority.</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-8 offset-md-2 ">
             <div class="about_box ">
                <figure><img src="images/about_img.png" alt="#"/></figure>
                <!-- <a class="read_more" href="#">Read more</a> -->
             </div>
          </div>
       </div>
    </div>
 </div>