<div id="contact" class="request">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Request a Call back</h2>
                <span>Leave here a feedback and we will get back to you soon.</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-sm-12">
             <div class="black_bg">
                <div class="row">
                   <div class="col-md-7 ">
                      <form class="main_form">
                         <div class="row">
                             <!-- <div class="col-md-12">
                                 <input class="contactus" placeholder="Phone number" type="text" name=" Phone number">
                                </div> -->
                                <div class="col-md-12">
                                    <input class="contactus" placeholder="Email" type="text" name="Email">
                                </div>
                                <div class="col-md-12 ">
                                   <input class="contactus" placeholder="Name" type="text" name="Name">
                                </div>
                            <div class="col-md-12">
                               <textarea class="textarea" placeholder="Message" type="text" name="Message ">Type your message here...</textarea>
                            </div>
                            <div class="col-sm-12">
                               <button class="send_btn">Send</button>
                            </div>
                         </div>
                      </form>
                   </div>
                   <div class="col-md-5">
                      <div class="mane_img">
                         <figure><img src="images/mane_img.jpg" alt="#"/></figure>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>