<footer>
    <div class="footer">
       <div class="container">
          <div class="row">
             <!-- <div class="col-md-6">
                <div class="cont">
                   <h3> <strong class="multi"> Free Multipurpose</strong><br>
                      Responsive Landing Page 2021
                   </h3>
                </div>
             </div> -->
             <div class="col-md-6">
                <div class="cont_call">
                   <h3> <strong class="multi"> Call Now</strong><br>
                      (+91) 1234567890
                   </h3>
                </div>
             </div>
          </div>
       </div>
       <div class="copyright">
          <div class="container">
             <div class="row">
                <div class="col-md-12">
                    <a href="#master">Back to Top</a>
                   <!-- <p>© 2019 All Rights Reserved. Design by <a href="https://html.design/"> Free Html Templates</a></p> -->
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>